<ul>
  <li>
    <p>Gestionar planes: <span class="p-1 bg-green-500 text-black cursor-default">Ready</span></p>
  </li>
  <li>
    <p>Gestionar permisos</p>
  </li>
  <li>
    <p>Gestionar roles</p>
  </li>
</ul>

<div class="flex flex-col gap-4 p-4" >
  <h2 class="text-5xl">Planes</h2>
  @if (plans) {
    <ul>
      @for (plan of plans; track plan.id) {
        <li class="mb-2">
          <button
            class="p-2 bg-blue-600 text-white"
            (click)="onSelectPlan(plan.id)">
            {{ plan.name }}
          </button>
        </li>
      }
      <li class="">
        <button
          class="p-2 bg-blue-600 text-white"
        (click)="onUnSelectPlan()">
          CLEAR
        </button>
      </li>
    </ul>
  }

  @if (planSelected) {
    <form [formGroup]="formGroupPlans" class="flex flex-col gap-4" (ngSubmit)="onSubmitUpdatePlans($event)">
      <input readonly [value]="planSelected.name" type="text" class="p-2 shadow-md rounded-md border-[1px] border-gray-200" />
      <input formControlName="max_surveys" type="number" class="p-2 shadow-md rounded-md border-[1px] border-gray-200" />
      <input formControlName="max_responses_per_survey" type="number" class="p-2 shadow-md rounded-md border-[1px] border-gray-200" />
      <input formControlName="price" type="number" class="p-2 shadow-md rounded-md border-[1px] border-gray-200" />
      <button class="p-2 bg-blue-600 text-white">CAMBIAR</button>
    </form>
  }
</div>

<div class="flex flex-col gap-4 p-4">
  <h2 class="text-5xl">Permisos</h2>
  @if (permissions) {
    <ul>
      @for (permission of permissions; track permission.id) {
        <li class="mb-2">
          <button
            class="p-2 bg-blue-600 text-white"
            (click)="onSelectPlan(permission.id)">
            {{ permission.name | uppercase }}
          </button>
        </li>
      }
      <li class="">
        <button
          class="p-2 bg-blue-600 text-white"
          (click)="onUnSelectPlan()">
          CLEAR
        </button>
      </li>
    </ul>
  }
</div>
