<div class="h-[100dvh] grid grid-cols-[300px_auto] gap-4">
  <div
    class="border-t-0 border-b-0 border-l-0 border-r-[1px] border-black border-opacity-10 border-solid shadow-lg bg-white p-4">
    <h3 class="text-xl font-bold">Menu</h3>
  </div>
  <div class="p-4">
    <h3 class="text-xl font-bold">Content</h3>
    <pre>
      <code>
        {{surveys | json}}
      </code>
    </pre>

    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Survey Name
            </th>
            <th scope="col" class="px-6 py-3">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          @if(surveys) {
            @for (survey of surveys; track $index) {
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ survey.title }}
                </th>
                <td class="px-6 py-4">
                  <a [routerLink]="['/survey/edit', survey._id]" class="bg-white rounded-sm p-1 text-black font-medium">
                    {{ survey._id }}
                  </a>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

  </div>
</div>


<div *ngIf="isLoading" class="fixed top-0 w-full h-[100dvh] bg-white text-black">
  CARGANDO...
</div>
